Repository cliangdev/specflux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --workspace=orchestrator --

feat(frontend): add task creation modal
  frontend/src/components/ui/TaskCreateModal.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/TasksPage.tsx
Due: prettier --write

test(frontend): add tests for ProjectContext
  frontend/src/contexts/ProjectContext.test.tsx
Due: prettier --write

chore: add run.sh script to start both servers
  run.sh
Due: none

Consolidate run scripts with app/web modes
  run.sh
Due: none

Make authentication optional during development
  orchestrator/src/__tests__/app.test.ts
  orchestrator/src/routes/index.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

Update roadmap: mark Basic UI Components complete
  docs/research/specflux-development-roadmap.md
Due: none

Fix: handle undefined userId in projects list endpoint
  orchestrator/src/routes/projects.routes.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

chore: remove accidentally committed db files
  orchestrator/data/specflux.db-shm
  orchestrator/data/specflux.db-wal
Due: none

feat(frontend): add ProjectCreateModal and wire to ProjectSelector
  frontend/src/components/ui/ProjectCreateModal.tsx
  frontend/src/components/ui/ProjectSelector.tsx
  frontend/src/components/ui/index.ts
Due: prettier --write

test(frontend): add tests for ProjectCreateModal, TaskCreateModal, and TasksPage
  frontend/src/components/ui/ProjectCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/pages/TasksPage.test.tsx
Due: prettier --write

fix(orchestrator): support optional auth for project creation
  orchestrator/migrations/002_add_default_dev_user.sql
  orchestrator/src/__tests__/app.test.ts
  orchestrator/src/routes/projects.routes.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix(orchestrator): fix tasks API response format and optional auth
  orchestrator/src/routes/tasks.routes.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat(orchestrator): add unique constraint on project name per user
  orchestrator/migrations/003_unique_project_name.sql
  orchestrator/src/__tests__/app.test.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix(orchestrator): return user-friendly error for duplicate project names
  orchestrator/src/__tests__/app.test.ts
  orchestrator/src/services/project.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

Fix test database isolation and task creation bugs
  orchestrator/src/__tests__/setup.ts
  orchestrator/src/__tests__/tasks.routes.test.ts
  orchestrator/src/db/index.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/project.service.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Claude Code agent integration (Phase 2 Week 3)
  docs/research/specflux-development-roadmap.md
  frontend/package.json
  frontend/src/components/Terminal.tsx
  frontend/src/components/__tests__/Terminal.test.tsx
  orchestrator/migrations/004_agent_sessions.sql
  orchestrator/package.json
  orchestrator/src/__tests__/agent.routes.test.ts
  orchestrator/src/__tests__/agent.service.test.ts
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/__tests__/worktree.service.test.ts
  orchestrator/src/index.ts
  orchestrator/src/routes/agent.routes.ts
  orchestrator/src/routes/index.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/services/worktree.service.ts
  orchestrator/src/websocket/terminal.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Improve agent start error messages for invalid project paths
  orchestrator/src/services/agent.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

docs: clarify Week 3 vs Week 6 terminal UI scope
  docs/research/specflux-development-roadmap.md
  orchestrator/.gitignore
Due: none

Revert "docs: clarify Week 3 vs Week 6 terminal UI scope"
  docs/research/specflux-development-roadmap.md
  orchestrator/.gitignore
Due: none

feat: add TaskDetailModal with embedded terminal
  frontend/src/api/index.ts
  frontend/src/components/ui/ProjectCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskDetailModal.test.tsx
  frontend/src/components/ui/TaskDetailModal.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/TasksPage.tsx
Due: prettier --write

refactor: convert TaskDetailModal to full-page TaskDetailPage
  frontend/src/App.tsx
  frontend/src/components/ui/TaskDetailModal.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/TaskDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/pages/TasksPage.test.tsx
  frontend/src/pages/TasksPage.tsx
  frontend/src/pages/index.ts
Due: prettier --write

fix: remove duplicate Agent Terminal header
  frontend/src/components/Terminal.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Add Claude Code agent integration (Phase 2 Week 3) (#22)
  docs/research/specflux-development-roadmap.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/components/Terminal.tsx
  frontend/src/components/__tests__/Terminal.test.tsx
  frontend/src/components/ui/ProjectCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/pages/TaskDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/pages/TasksPage.test.tsx
  frontend/src/pages/TasksPage.tsx
  frontend/src/pages/index.ts
  orchestrator/migrations/004_agent_sessions.sql
  orchestrator/package.json
  orchestrator/src/__tests__/agent.routes.test.ts
  orchestrator/src/__tests__/agent.service.test.ts
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/__tests__/worktree.service.test.ts
  orchestrator/src/index.ts
  orchestrator/src/routes/agent.routes.ts
  orchestrator/src/routes/index.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/services/worktree.service.ts
  orchestrator/src/websocket/terminal.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Resolve agent integration issues and improve terminal stability
  .gitignore
  frontend/src/components/Terminal.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/__tests__/agent.routes.test.ts
  orchestrator/src/__tests__/agent.service.test.ts
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/app.ts
  orchestrator/src/routes/agent.routes.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/services/worktree.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Resolve agent integration issues and improve terminal stability (#23)
  .gitignore
  frontend/src/components/Terminal.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/__tests__/agent.routes.test.ts
  orchestrator/src/__tests__/agent.service.test.ts
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/app.ts
  orchestrator/src/routes/agent.routes.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/services/worktree.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add task completion flow with PR creation and review UI (Week 4)
  frontend/src/api/index.ts
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/migrations/005_add_pr_target_branch.sql
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/git-workflow.service.ts
  orchestrator/src/services/project.service.ts
  orchestrator/src/services/worktree.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat(task-7): required review task test
  CLAUDE.md
  hello-world.test.ts
Due: none

fix: Branch worktree from base branch instead of current HEAD
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/worktree.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

refactor: Separate Create PR and Approve into distinct actions
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Disable Start button when task is done or approved
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat(task-9): Add project summary
  CLAUDE.md
Due: none

fix: Persist PR URL and improve review UI
  CLAUDE.md
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/migrations/006_add_github_pr_url.sql
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Use window.open instead of Tauri shell API
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat(task-8): test
  CLAUDE.md
  hello.txt
Due: none

feat(task-10): Test
  CLAUDE.md
  hello.txt
Due: none

fix: PR link opens in browser and persists after task done
  frontend/package.json
  frontend/src/pages/TaskDetailPage.tsx
  package-lock.json
Due: prettier --write

fix: Fix worktree test and improve PR link/diff detection
  frontend/src-tauri/capabilities/default.json
  frontend/src-tauri/gen/schemas/capabilities.json
  frontend/src-tauri/src/lib.rs
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/__tests__/worktree.service.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/git-workflow.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add task completion flow with PR creation and review UI (Week 4) (#24)
  CLAUDE.md
  frontend/package.json
  frontend/src-tauri/capabilities/default.json
  frontend/src-tauri/gen/schemas/capabilities.json
  frontend/src-tauri/src/lib.rs
  frontend/src/api/index.ts
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/migrations/005_add_pr_target_branch.sql
  orchestrator/migrations/006_add_github_pr_url.sql
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/__tests__/worktree.service.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/git-workflow.service.ts
  orchestrator/src/services/project.service.ts
  orchestrator/src/services/task.service.ts
  orchestrator/src/services/worktree.service.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

Path conditions:
  prettier --write: (any of: orchestrator/src/**/*.ts) or (any of: frontend/src/**/*.{ts,tsx})
  npm run lint:fix --workspace=orchestrator --: any of: orchestrator/src/**/*.ts
