Repository cliangdev/specflux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Align Board page header styling with Tasks page
  frontend/src/components/kanban/KanbanBoard.tsx
Due: prettier --write

fix: Improve empty column drop target for drag-and-drop
  frontend/src/components/kanban/KanbanColumn.tsx
Due: prettier --write

fix: Use rectIntersection collision detection for better empty column drops
  frontend/src/components/kanban/KanbanBoard.tsx
Due: prettier --write

chore: Fix tests and update roadmap for Kanban board
  docs/research/specflux-development-roadmap.md
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/kanban/__tests__/KanbanBoard.test.tsx
  frontend/src/components/kanban/__tests__/TaskCard.test.tsx
Due: prettier --write

fix: Remove duplicate padding from KanbanBoard for consistent spacing
  docs/testing/kanban-board-manual-testing.md
  frontend/src/components/kanban/KanbanBoard.tsx
Due: prettier --write

feat: Add Kanban board with drag-and-drop support (#38)
  docs/research/specflux-development-roadmap.md
  frontend/package.json
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/kanban/KanbanColumn.tsx
  frontend/src/components/kanban/TaskCard.tsx
  frontend/src/components/kanban/__tests__/KanbanBoard.test.tsx
  frontend/src/components/kanban/__tests__/TaskCard.test.tsx
  frontend/src/components/kanban/index.ts
  frontend/src/components/kanban/types.ts
  frontend/src/pages/BoardPage.tsx
  package-lock.json
Due: prettier --write

feat: Add visual indicators to TaskCard
  docs/research/specflux-development-roadmap.md
  frontend/src/components/kanban/TaskCard.tsx
  frontend/src/components/kanban/__tests__/TaskCard.test.tsx
  frontend/src/components/kanban/types.ts
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

docs: Add manual testing checklist for visual indicators
  docs/testing/task-card-visual-indicators-testing.md
Due: none

docs: Add workarounds for testing dependencies (no UI yet)
  docs/testing/task-card-visual-indicators-testing.md
Due: none

fix: Add blocked_by_count field to mock task in tests
  docs/testing/task-card-visual-indicators-testing.md
  orchestrator/src/__tests__/context.service.test.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add visual indicators to TaskCard (#39)
  docs/research/specflux-development-roadmap.md
  frontend/src/components/kanban/TaskCard.tsx
  frontend/src/components/kanban/__tests__/TaskCard.test.tsx
  frontend/src/components/kanban/types.ts
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Implement Files View and Settings View with Tauri filesystem APIs
  .gitignore
  docs/research/specflux-development-roadmap.md
  frontend/package.json
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/capabilities/default.json
  frontend/src-tauri/gen/schemas/acl-manifests.json
  frontend/src-tauri/gen/schemas/capabilities.json
  frontend/src-tauri/gen/schemas/desktop-schema.json
  frontend/src-tauri/gen/schemas/macOS-schema.json
  frontend/src-tauri/src/lib.rs
  frontend/src-tauri/tauri.conf.json
  frontend/src/components/files/FilePreview.tsx
  frontend/src/components/files/FileTree.tsx
  frontend/src/components/files/__tests__/FilePreview.test.tsx
  frontend/src/components/files/__tests__/FileTree.test.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/settings/RepositorySettings.tsx
  frontend/src/components/settings/WorkflowSettings.tsx
  frontend/src/pages/FilesPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/tailwind.config.js
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/repositories.yaml
  orchestrator/openapi/schemas/repository.yaml
  orchestrator/src/routes/files.routes.ts
  orchestrator/src/routes/repositories.routes.ts
  orchestrator/src/services/repository.service.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Implement Files View and Settings View with Tauri filesystem APIs (#40)
  .gitignore
  docs/research/specflux-development-roadmap.md
  frontend/package.json
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/capabilities/default.json
  frontend/src-tauri/gen/schemas/acl-manifests.json
  frontend/src-tauri/gen/schemas/capabilities.json
  frontend/src-tauri/gen/schemas/desktop-schema.json
  frontend/src-tauri/gen/schemas/macOS-schema.json
  frontend/src-tauri/src/lib.rs
  frontend/src-tauri/tauri.conf.json
  frontend/src/components/files/FilePreview.tsx
  frontend/src/components/files/FileTree.tsx
  frontend/src/components/files/__tests__/FilePreview.test.tsx
  frontend/src/components/files/__tests__/FileTree.test.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/settings/RepositorySettings.tsx
  frontend/src/components/settings/WorkflowSettings.tsx
  frontend/src/pages/FilesPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/tailwind.config.js
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/repositories.yaml
  orchestrator/openapi/schemas/repository.yaml
  orchestrator/src/routes/files.routes.ts
  orchestrator/src/routes/repositories.routes.ts
  orchestrator/src/services/repository.service.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Enhance Tasks and Epics views with task-epic integration
  docs/research/specflux-development-roadmap.md
  frontend/src/App.tsx
  frontend/src/components/epics/EpicCard.tsx
  frontend/src/components/epics/EpicCreateModal.tsx
  frontend/src/components/epics/index.ts
  frontend/src/components/ui/Pagination.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/EpicDetailPage.test.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/EpicsPage.tsx
  frontend/src/pages/TaskDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/pages/TasksPage.test.tsx
  frontend/src/pages/TasksPage.tsx
  frontend/src/pages/index.ts
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/common.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Update tasks.routes test to use cursor-based pagination
  orchestrator/src/__tests__/tasks.routes.test.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Enhance Tasks and Epics views with task-epic integration (#41)
  docs/research/specflux-development-roadmap.md
  frontend/src/App.tsx
  frontend/src/components/epics/EpicCard.tsx
  frontend/src/components/epics/EpicCreateModal.tsx
  frontend/src/components/epics/index.ts
  frontend/src/components/ui/Pagination.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/EpicDetailPage.test.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/EpicsPage.tsx
  frontend/src/pages/TaskDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/pages/TasksPage.test.tsx
  frontend/src/pages/TasksPage.tsx
  frontend/src/pages/index.ts
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/common.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/tasks.routes.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add task dependencies visualization and management
  docs/research/specflux-development-roadmap.md
  frontend/src/components/tasks/AddDependencyModal.test.tsx
  frontend/src/components/tasks/AddDependencyModal.tsx
  frontend/src/components/tasks/DependencyList.test.tsx
  frontend/src/components/tasks/DependencyList.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Add task dependencies visualization and management (#42)
  docs/research/specflux-development-roadmap.md
  frontend/src/components/tasks/AddDependencyModal.test.tsx
  frontend/src/components/tasks/AddDependencyModal.tsx
  frontend/src/components/tasks/DependencyList.test.tsx
  frontend/src/components/tasks/DependencyList.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Extract terminal to global bottom panel
  docs/design/terminal-panel-prd.md
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/__tests__/TerminalPanel.test.tsx
  frontend/src/contexts/TerminalContext.test.tsx
  frontend/src/contexts/TerminalContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Extract terminal to global bottom panel (#43)
  docs/design/terminal-panel-prd.md
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/__tests__/TerminalPanel.test.tsx
  frontend/src/contexts/TerminalContext.test.tsx
  frontend/src/contexts/TerminalContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Use browser history for back button navigation
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Use browser history for back button navigation (#44)
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Add task editing UI
  frontend/src/components/ui/TaskEditModal.test.tsx
  frontend/src/components/ui/TaskEditModal.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Add task editing UI (#45)
  frontend/src/components/ui/TaskEditModal.test.tsx
  frontend/src/components/ui/TaskEditModal.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Add multi-tab terminal support
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/TerminalTabBar.test.tsx
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/contexts/TerminalContext.test.tsx
  frontend/src/contexts/TerminalContext.tsx
Due: prettier --write

feat: Add multi-tab terminal support (#46)
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/TerminalTabBar.test.tsx
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/contexts/TerminalContext.test.tsx
  frontend/src/contexts/TerminalContext.tsx
Due: prettier --write

feat: Add context menu to Board for quick task actions
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/kanban/KanbanColumn.tsx
  frontend/src/components/kanban/TaskCard.tsx
  frontend/src/components/ui/ContextMenu.test.tsx
  frontend/src/components/ui/ContextMenu.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/BoardPage.tsx
Due: prettier --write

feat: Add context menu to Board for quick task actions (#47)
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/kanban/KanbanColumn.tsx
  frontend/src/components/kanban/TaskCard.tsx
  frontend/src/components/ui/ContextMenu.test.tsx
  frontend/src/components/ui/ContextMenu.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/BoardPage.tsx
Due: prettier --write

feat: Add NewSessionDialog for terminal context modes
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/terminal/NewSessionDialog.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/TerminalTabBar.test.tsx
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/components/terminal/__tests__/TerminalPanel.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Add NewSessionDialog for terminal context modes (#48)
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/terminal/NewSessionDialog.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/TerminalTabBar.test.tsx
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/components/terminal/__tests__/TerminalPanel.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Add multi-mode terminal context support (#36)
  frontend/src/components/Terminal.tsx
  frontend/src/components/terminal/NewSessionDialog.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/TerminalTabBar.test.tsx
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/components/terminal/__tests__/TerminalPanel.test.tsx
  frontend/src/contexts/TerminalContext.tsx
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add multi-mode terminal context support (#36) (#49)
  frontend/src/components/Terminal.tsx
  frontend/src/components/terminal/NewSessionDialog.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/TerminalTabBar.test.tsx
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/components/terminal/__tests__/TerminalPanel.test.tsx
  frontend/src/contexts/TerminalContext.tsx
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Epic context mode for terminal sessions (#37)
  frontend/src/components/__tests__/Terminal.test.tsx
  frontend/src/components/terminal/NewSessionDialog.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/pages/EpicDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.test.tsx
  orchestrator/migrations/007_agent_sessions_context.sql
  orchestrator/src/__tests__/agent.routes.test.ts
  orchestrator/src/__tests__/agent.service.test.ts
  orchestrator/src/__tests__/file-tracking.service.test.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Epic context mode for terminal sessions (#37) (#50)
  frontend/src/components/__tests__/Terminal.test.tsx
  frontend/src/components/terminal/NewSessionDialog.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/pages/EpicDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.test.tsx
  orchestrator/migrations/007_agent_sessions_context.sql
  orchestrator/src/__tests__/agent.routes.test.ts
  orchestrator/src/__tests__/agent.service.test.ts
  orchestrator/src/__tests__/file-tracking.service.test.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Project context mode for terminal sessions (#38)
  frontend/src/components/terminal/NewSessionDialog.tsx
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Project context mode for terminal sessions (#38) (#51)
  frontend/src/components/terminal/NewSessionDialog.tsx
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add terminal panel polish and persistence (#32)
  frontend/package.json
  frontend/src/components/Terminal.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/components/terminal/__tests__/TerminalPanel.test.tsx
  frontend/src/components/ui/TaskEditModal.test.tsx
  frontend/src/contexts/TerminalContext.tsx
  package-lock.json
Due: prettier --write

feat: Add terminal panel polish and persistence (#32) (#52)
  frontend/package.json
  frontend/src/components/Terminal.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/components/terminal/__tests__/TerminalPanel.test.tsx
  frontend/src/components/ui/TaskEditModal.test.tsx
  frontend/src/contexts/TerminalContext.tsx
  package-lock.json
Due: prettier --write

redesign tasks and epics
  docs/design/prd-epic-roadmap-redesign.md
  docs/design/prd-task-detail-page-redesign.md
Due: none

redesign tasks and epics (#53)
  docs/design/prd-epic-roadmap-redesign.md
  docs/design/prd-task-detail-page-redesign.md
Due: none

Path conditions:
  prettier --write: (any of: orchestrator/src/**/*.ts) or (any of: frontend/src/**/*.{ts,tsx})
  npm run lint:fix --workspace=orchestrator --: any of: orchestrator/src/**/*.ts
