Repository cliangdev/specflux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: pass onTaskUpdate callback to TaskOverviewTab
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: remove pre-hook
  .husky/pre-push
Due: none

docs: replace MCP server with Claude Code skill approach
  docs/research/specflux-mcp-server-prd.md
Due: none

fix: rename prd
  docs/research/specflux-cloud-backend-prd.md
Due: none

feat: add epic selector to task detail page
  frontend/src/components/tasks/EpicSelector.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/pages/TaskDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

docs: add Users API PRD and Spring Boot patterns skill
  .claude/skills/springboot-patterns/SKILL.md
  CLAUDE.md
  docs/research/users-api-prd.md
Due: none

feat: add login page and v2 ID guards
  frontend/src/App.tsx
  frontend/src/components/FileChanges.tsx
  frontend/src/components/tasks/AgentSelector.tsx
  frontend/src/components/ui/ProjectSelector.test.tsx
  frontend/src/components/ui/ProjectSelector.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/ProjectContext.test.tsx
  frontend/src/contexts/ProjectContext.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/utils/idUtils.ts
Due: prettier --write

chore: regenerate v2 API client
  frontend/src/api/v2/generated/docs/Epic.md
  frontend/src/api/v2/generated/docs/Project.md
  frontend/src/api/v2/generated/docs/Release.md
  frontend/src/api/v2/generated/docs/Task.md
  frontend/src/api/v2/generated/docs/User.md
  frontend/src/api/v2/generated/models/Epic.ts
  frontend/src/api/v2/generated/models/Project.ts
  frontend/src/api/v2/generated/models/Release.ts
  frontend/src/api/v2/generated/models/Task.ts
  frontend/src/api/v2/generated/models/User.ts
Due: prettier --write

feat: continue v2 API migration for pages and components
  frontend/src/api/adapters/epicAdapter.ts
  frontend/src/api/adapters/taskAdapter.ts
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/tasks/EpicSelector.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/tasks/TaskOverviewTab.tsx
  frontend/src/pages/BoardPage.tsx
  frontend/src/pages/EpicsPage.tsx
  frontend/src/pages/RoadmapPage.tsx
  frontend/src/pages/TasksPage.tsx
Due: prettier --write

refactor: use UPPER_CASE status enums from v2 API
  frontend/src/api/index.ts
  frontend/src/components/epics/EpicDetailHeader.tsx
  frontend/src/components/epics/EpicEditModal.tsx
  frontend/src/components/roadmap/EpicNode.tsx
  frontend/src/components/roadmap/PhaseSection.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/ui/TaskEditModal.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/EpicsPage.tsx
  frontend/src/pages/RoadmapPage.tsx
  frontend/src/pages/TasksPage.tsx
  frontend/src/utils/phaseCalculation.ts
Due: prettier --write

fix enum case issue
  docs/research/hybrid-backend-prd.md
  frontend/src/components/epics/EpicCard.tsx
  frontend/src/components/epics/EpicDetailHeader.tsx
  frontend/src/components/roadmap/EpicDetailPopup.tsx
  frontend/src/components/tasks/EpicSelector.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/EpicsPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: initialize .specflux directory on project creation + v2 API cleanup
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/__tests__/filesystem.service.test.ts
  orchestrator/src/services/filesystem.service.ts
  orchestrator/src/services/project.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: create .claude directory with template commands on project creation
  orchestrator/src/__tests__/filesystem.service.test.ts
  orchestrator/src/__tests__/template.service.test.ts
  orchestrator/src/services/filesystem.service.ts
  orchestrator/src/services/project.service.ts
  orchestrator/src/services/template.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: update project creation modal with description and PRD options
  frontend/src/components/ui/ProjectCreateModal.tsx
Due: prettier --write

fix: settings page reads from filesystem instead of API
  frontend/.env.example
  frontend/src/api/client.ts
  frontend/src/components/settings/AgentSettings.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/settings/McpServerSettings.tsx
  frontend/src/components/settings/SkillSettings.tsx
  frontend/src/components/settings/__tests__/AgentSettings.test.tsx
  frontend/src/components/settings/__tests__/McpServerSettings.test.tsx
  frontend/src/components/settings/__tests__/SkillSettings.test.tsx
Due: prettier --write

feat: implement Tauri native terminal with portable-pty
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/src/commands/mod.rs
  frontend/src-tauri/src/commands/terminal.rs
  frontend/src-tauri/src/lib.rs
  frontend/src-tauri/src/pty/manager.rs
  frontend/src-tauri/src/pty/mod.rs
  frontend/src-tauri/src/pty/session.rs
  frontend/src/components/Terminal.tsx
  frontend/src/components/__tests__/Terminal.test.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/contexts/TerminalContext.tsx
  frontend/src/services/tauriTerminal.ts
Due: prettier --write

chore: remove orchestrator references from run.sh
  frontend/src-tauri/src/commands/mod.rs
  frontend/src-tauri/src/pty/session.rs
  run.sh
Due: none

chore: update CI workflow for frontend-only (remove orchestrator)
  .github/workflows/ci.yml
Due: none

fix: update CI workflow and add ResizeObserver mock for tests
  .github/workflows/ci.yml
  frontend/src/components/__tests__/Terminal.test.tsx
Due: prettier --write

chore: temporarily disable CI tests (pre-existing v2 migration failures)
  .github/workflows/ci.yml
Due: none

chore: restore full CI pipeline for frontend workspace
  .github/workflows/ci.yml
Due: none

fix: resolve v2 API migration type errors across frontend
  frontend/src/App.test.tsx
  frontend/src/components/epics/EpicCreateModal.tsx
  frontend/src/components/epics/EpicDetailHeader.tsx
  frontend/src/components/epics/EpicEditModal.tsx
  frontend/src/components/releases/ReleaseCreateModal.tsx
  frontend/src/components/roadmap/PhaseSection.tsx
  frontend/src/components/roadmap/__tests__/transformEpicsToGraph.test.ts
  frontend/src/components/settings/RepositorySettings.tsx
  frontend/src/components/settings/WorkflowSettings.tsx
  frontend/src/components/tasks/AddDependencyModal.test.tsx
  frontend/src/components/tasks/AddDependencyModal.tsx
  frontend/src/components/tasks/AgentSelector.tsx
  frontend/src/components/tasks/DependencyList.test.tsx
  frontend/src/components/tasks/DependencyList.tsx
  frontend/src/components/tasks/EpicSelector.tsx
  frontend/src/components/tasks/OwnerExecutorBadge.tsx
  frontend/src/components/tasks/TaskContextTab.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/tasks/TaskOverviewTab.tsx
  frontend/src/components/terminal/NewSessionDialog.tsx
  frontend/src/components/terminal/__tests__/NewSessionDialog.test.tsx
  frontend/src/components/ui/AcceptanceCriteriaList.tsx
  frontend/src/components/ui/ProjectCreateModal.test.tsx
  frontend/src/components/ui/ProjectSelector.test.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.tsx
  frontend/src/components/ui/TaskEditModal.test.tsx
  frontend/src/components/ui/TaskEditModal.tsx
  frontend/src/pages/AgentDetailPage.tsx
  frontend/src/pages/BoardPage.tsx
  frontend/src/pages/EpicDetailPage.test.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/EpicsPage.tsx
  frontend/src/pages/FilesPage.tsx
  frontend/src/pages/RoadmapPage.tsx
  frontend/src/pages/TaskDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/pages/TasksPage.test.tsx
  frontend/src/utils/phaseCalculation.ts
  frontend/src/utils/readiness.ts
Due: prettier --write

fix: add missing beforeEach import in test files
  frontend/src/components/terminal/TerminalTabBar.test.tsx
  frontend/src/components/ui/ContextMenu.test.tsx
Due: prettier --write

chore: add @vitest/coverage-v8 dependency for CI
  frontend/package.json
  package-lock.json
Due: none

feat: improve markdown rendering with GitHub-style library and mermaid support
  package-lock.json
  package.json
  src/components/agents/AgentDefinitionTab.tsx
  src/components/files/FilePreview.tsx
  src/components/files/__tests__/FilePreview.test.tsx
  src/components/tasks/TaskContextTab.tsx
  src/components/ui/MarkdownRenderer.tsx
  src/components/ui/__tests__/MarkdownRenderer.test.tsx
  src/components/ui/index.ts
  src/pages/PRDDetailPage.tsx
Due: none

update script
  .gitignore
  run.sh
  src/components/files/FilePreview.tsx
  src/components/ui/MarkdownRenderer.tsx
  src/components/ui/__tests__/MarkdownRenderer.test.tsx
Due: none

feat: add terminal page context tracking and suggested commands
  src/App.test.tsx
  src/components/terminal/TerminalPanel.tsx
  src/components/terminal/__tests__/TerminalPanel.test.tsx
  src/contexts/TerminalContext.test.tsx
  src/contexts/TerminalContext.tsx
  src/hooks/usePageContext.ts
  src/pages/EpicDetailPage.test.tsx
  src/pages/EpicDetailPage.tsx
  src/pages/EpicsPage.tsx
  src/pages/PRDsPage.tsx
  src/pages/TaskDetailPage.test.tsx
  src/pages/TaskDetailPage.tsx
  src/pages/TasksPage.test.tsx
  src/pages/TasksPage.tsx
Due: none

docs: update CLAUDE.md for new project structure
  CLAUDE.md
Due: none

fix: use task.id instead of non-existent task.publicId
  src/pages/TaskDetailPage.tsx
Due: none

feat: add PRD API endpoints and specflux-api skill
  .claude/skills/specflux-api/SKILL.md
  .claude/skills/specflux-api/references/api.md
  openapi/api.yaml
Due: none

feat: update PRD pages to use new API
  .claude/skills/specflux-api/SKILL.md
  .claude/skills/specflux-api/references/api.md
  src/api/client.ts
  src/pages/PRDDetailPage.tsx
  src/pages/PRDsPage.tsx
  src/templates/projectTemplates.ts
Due: none

fix: update PRD import modal to create PRD via API
  src/components/ui/PrdImportModal.tsx
  src/pages/PRDsPage.tsx
Due: none

fix: pass working directory when creating terminal sessions
  src/components/terminal/NewSessionDialog.tsx
  src/components/terminal/TerminalPanel.tsx
Due: none

feat: implement Claude Panel UX improvements
  src/components/layout/MainLayout.tsx
  src/components/terminal/ClaudePill.tsx
  src/components/terminal/DuplicateSessionDialog.tsx
  src/components/terminal/NewSessionDialog.tsx
  src/components/terminal/TerminalPanel.tsx
  src/components/terminal/TerminalTabBar.test.tsx
  src/components/terminal/TerminalTabBar.tsx
  src/components/terminal/__tests__/ClaudePill.test.tsx
  src/components/terminal/__tests__/DuplicateSessionDialog.test.tsx
  src/components/terminal/__tests__/NewSessionDialog.test.tsx
  src/components/terminal/__tests__/TerminalPanel.test.tsx
  src/contexts/TerminalContext.tsx
Due: none

Path conditions:
  prettier --write: (any of: orchestrator/src/**/*.ts) or (any of: frontend/src/**/*.{ts,tsx})
  npm run lint:fix --workspace=orchestrator --: any of: orchestrator/src/**/*.ts
