Repository cliangdev/specflux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --workspace=orchestrator --

feat(api): add OpenAPI 3.0 spec with Swagger UI integration
  .lintstagedrc.json
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/epics.yaml
  orchestrator/openapi/paths/files.yaml
  orchestrator/openapi/paths/health.yaml
  orchestrator/openapi/paths/notifications.yaml
  orchestrator/openapi/paths/projects.yaml
  orchestrator/openapi/paths/repositories.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/paths/users.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/common.yaml
  orchestrator/openapi/schemas/epic.yaml
  orchestrator/openapi/schemas/notification.yaml
  orchestrator/openapi/schemas/project.yaml
  orchestrator/openapi/schemas/repository.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/openapi/schemas/user.yaml
  orchestrator/package.json
  orchestrator/scripts/validate-openapi.js
  orchestrator/src/app.ts
  orchestrator/src/swagger.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

refactor(api): improve RESTful design and API conventions
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/notifications.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/common.yaml
  orchestrator/openapi/schemas/task.yaml
Due: none

docs: add PR workflow requirements and update roadmap status
  CLAUDE.md
  docs/research/specflux-development-roadmap.md
Due: none

feat(api): add OpenAPI code generation for TypeScript types
  .gitignore
  docs/research/specflux-development-roadmap.md
  orchestrator/openapitools.json
  orchestrator/package.json
  orchestrator/scripts/bundle-openapi.js
  package-lock.json
Due: none

feat(db): add database setup with migrations and user service
  docs/research/specflux-development-roadmap.md
  orchestrator/eslint.config.mjs
  orchestrator/migrations/001_initial_schema.sql
  orchestrator/src/db/index.ts
  orchestrator/src/db/migrate.ts
  orchestrator/src/db/rollback.ts
  orchestrator/src/services/user.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix(test): exclude db and services from coverage temporarily
  orchestrator/jest.config.js
Due: none

Add migration system tests with in-memory SQLite
  orchestrator/src/__tests__/db/migrate.test.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

Add file system integration with markdown handling
  orchestrator/package.json
  orchestrator/src/__tests__/services/filesystem.service.test.ts
  orchestrator/src/services/filesystem.service.ts
  orchestrator/src/services/filewatcher.service.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

Add test report to CI workflow
  .github/workflows/ci.yml
Due: none

Fix test report CI configuration
  .github/workflows/ci.yml
  orchestrator/package.json
  package-lock.json
Due: none

Fix junit.xml output path in CI
  .github/workflows/ci.yml
Due: none

Add permissions for test-reporter to create checks
  .github/workflows/ci.yml
Due: none

Improve CI workflow naming and add test reporters
  .github/workflows/ci.yml
Due: none

Remove EnricoMi test reporter, keep dorny/test-reporter
  .github/workflows/ci.yml
Due: none

Clean up CI workflow
  .github/workflows/ci.yml
Due: none

Add git integration service
  docs/research/specflux-development-roadmap.md
  orchestrator/package.json
  orchestrator/src/__tests__/services/git.service.test.ts
  orchestrator/src/services/git.service.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

Add critical reminder: each task must start on new branch
  CLAUDE.md
Due: none

Add Tauri desktop shell with Vite + React + TypeScript + TailwindCSS
  docs/research/specflux-development-roadmap.md
  frontend/index.html
  frontend/postcss.config.js
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/build.rs
  frontend/src-tauri/src/lib.rs
  frontend/src-tauri/src/main.rs
  frontend/src-tauri/tauri.conf.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: prettier --write

Add run.sh script for frontend development
  frontend/run.sh
Due: none

Kill existing processes on port before starting dev server
  frontend/run.sh
Due: none

Only kill Vite/specflux processes, not other apps on same port
  frontend/run.sh
Due: none

Improve desktop dependency detection with all missing deps listed
  frontend/run.sh
Due: none

Add interactive dependency installation for desktop app
  frontend/run.sh
Due: none

Fix tauri script name (tauri:dev not tauri dev)
  frontend/run.sh
Due: none

Fix Tauri build: add placeholder icons and fix Cargo version format
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/gen/schemas/acl-manifests.json
  frontend/src-tauri/gen/schemas/capabilities.json
  frontend/src-tauri/gen/schemas/desktop-schema.json
  frontend/src-tauri/gen/schemas/macOS-schema.json
  frontend/src-tauri/icons/128x128.png
  frontend/src-tauri/icons/128x128@2x.png
  frontend/src-tauri/icons/32x32.png
  frontend/src-tauri/icons/icon.icns
  frontend/src-tauri/icons/icon.ico
Due: none

Fix app icons with proper PNG pixel data
  frontend/src-tauri/icons/128x128.png
  frontend/src-tauri/icons/128x128@2x.png
  frontend/src-tauri/icons/32x32.png
  frontend/src-tauri/icons/icon.icns
Due: none

Add Vitest testing setup for frontend
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  package-lock.json
Due: prettier --write

Add UI foundation with layout and navigation
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/TopBar.tsx
  frontend/src/components/layout/index.ts
  frontend/src/components/ui/NotificationBell.tsx
  frontend/src/components/ui/ProjectSelector.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/BoardPage.tsx
  frontend/src/pages/EpicsPage.tsx
  frontend/src/pages/FilesPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TasksPage.tsx
  frontend/src/pages/index.ts
Due: prettier --write

Improve port detection: auto-kill vite/esbuild, prompt for others
  frontend/run.sh
Due: none

Add unit tests for critical UI components
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/ui/NotificationBell.test.tsx
  frontend/src/components/ui/ProjectSelector.test.tsx
Due: prettier --write

Implement REST API endpoints (44 endpoints)
  orchestrator/src/__tests__/app.test.ts
  orchestrator/src/middleware/auth.middleware.ts
  orchestrator/src/routes/epics.routes.ts
  orchestrator/src/routes/files.routes.ts
  orchestrator/src/routes/index.ts
  orchestrator/src/routes/notifications.routes.ts
  orchestrator/src/routes/projects.routes.ts
  orchestrator/src/routes/repositories.routes.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/routes/users.routes.ts
  orchestrator/src/services/epic.service.ts
  orchestrator/src/services/notification.service.ts
  orchestrator/src/services/project.service.ts
  orchestrator/src/services/repository.service.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

Remove coverage threshold requirement from Jest
  orchestrator/jest.config.js
Due: none

Add API client setup for frontend
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/tsconfig.json
Due: prettier --write

Add pre-push hook and update roadmap
  .husky/pre-push
  docs/research/specflux-development-roadmap.md
Due: none

Revert "Add API client setup for frontend"
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/tsconfig.json
Due: prettier --write

Add Claude Code documentation for dogfooding
  docs/research/specflux-development-roadmap.md
  frontend/CLAUDE.md
  orchestrator/CLAUDE.md
Due: none

docs: update roadmap to reflect actual progress
  docs/research/specflux-development-roadmap.md
Due: none

feat(frontend): wire ProjectSelector to API
  frontend/src/App.tsx
  frontend/src/components/ui/ProjectSelector.test.tsx
  frontend/src/components/ui/ProjectSelector.tsx
  frontend/src/contexts/ProjectContext.tsx
  frontend/src/contexts/index.ts
Due: prettier --write

feat(frontend): build TasksPage with API integration
  .gitignore
  frontend/src/pages/TasksPage.tsx
  orchestrator/data/specflux.db-shm
  orchestrator/data/specflux.db-wal
Due: prettier --write

Path conditions:
  prettier --write: (any of: orchestrator/src/**/*.ts) or (any of: frontend/src/**/*.{ts,tsx})
  npm run lint:fix --workspace=orchestrator --: any of: orchestrator/src/**/*.ts
