Repository cliangdev/specflux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Definition of Ready fields to task data model
  orchestrator/migrations/008_task_dor_fields.sql
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/__tests__/tasks.routes.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Definition of Ready fields to task data model (#54)
  orchestrator/migrations/008_task_dor_fields.sql
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/__tests__/tasks.routes.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: redesign task detail page header (#40)
  frontend/src/components/tasks/OwnerExecutorBadge.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/utils/readiness.ts
Due: prettier --write

feat: add Definition of Ready checklist (#41)
  frontend/src/components/tasks/ReadinessChecklist.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: add tabbed interface for task detail page (#42)
  frontend/src/components/tasks/TaskContextTab.tsx
  frontend/src/components/tasks/TaskOverviewTab.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/components/ui/TabNavigation.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: add terminal integration banner component (#43)
  frontend/src/components/tasks/TerminalIntegrationBanner.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

refactor: remove terminal banner panel, match PRD layout (#43)
  frontend/src/components/tasks/TerminalIntegrationBanner.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat: Task Detail Header Redesign (#40) (#55)
  frontend/src/components/tasks/OwnerExecutorBadge.tsx
  frontend/src/components/tasks/ReadinessChecklist.tsx
  frontend/src/components/tasks/TaskContextTab.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/tasks/TaskOverviewTab.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/components/ui/TabNavigation.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/utils/readiness.ts
Due: prettier --write

feat: Add releases data model and API (#44)
  orchestrator/migrations/009_releases_and_epic_deps.sql
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/releases.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/epic.yaml
  orchestrator/openapi/schemas/release.yaml
  orchestrator/src/routes/epics.routes.ts
  orchestrator/src/routes/index.ts
  orchestrator/src/routes/releases.routes.ts
  orchestrator/src/services/epic.service.ts
  orchestrator/src/services/release.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Roadmap page with release header and phase grouping (#45)
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/RoadmapPage.tsx
  frontend/src/pages/index.ts
Due: prettier --write

feat: Add collapsible phase sections with auto-collapse logic (#46)
  frontend/src/App.test.tsx
  frontend/src/components/roadmap/PhaseSection.tsx
  frontend/src/components/roadmap/index.ts
  frontend/src/pages/RoadmapPage.tsx
  frontend/src/utils/phaseCalculation.ts
Due: prettier --write

feat: Add epic dependencies UI with edit modal and inline expansion (#47)
  frontend/src/components/epics/EpicEditModal.tsx
  frontend/src/components/epics/index.ts
  frontend/src/components/roadmap/PhaseSection.tsx
  frontend/src/pages/RoadmapPage.tsx
Due: prettier --write

feat: Add Create Release dialog (#48)
  frontend/src/api/index.ts
  frontend/src/components/releases/ReleaseCreateModal.tsx
  frontend/src/components/releases/index.ts
  frontend/src/pages/RoadmapPage.tsx
Due: prettier --write

feat: Add roadmap polish, empty states, and filtering (#49)
  frontend/src/components/epics/EpicCreateModal.tsx
  frontend/src/pages/RoadmapPage.tsx
Due: prettier --write

fix: Improve roadmap page spacing consistency
  frontend/src/components/roadmap/PhaseSection.tsx
  frontend/src/pages/RoadmapPage.tsx
Due: prettier --write

fix: add padding to ReleaseHeader card component
  frontend/src/pages/RoadmapPage.tsx
Due: prettier --write

fix: fetch all tasks on Kanban board to avoid pagination cutoff
  frontend/src/components/kanban/KanbanBoard.tsx
Due: prettier --write

feat: Epic #13 - Roadmap Page Redesign (#56)
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/src/components/epics/EpicEditModal.tsx
  frontend/src/components/epics/index.ts
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/releases/ReleaseCreateModal.tsx
  frontend/src/components/releases/index.ts
  frontend/src/components/roadmap/PhaseSection.tsx
  frontend/src/components/roadmap/index.ts
  frontend/src/pages/RoadmapPage.tsx
  frontend/src/pages/index.ts
  frontend/src/utils/phaseCalculation.ts
  orchestrator/migrations/009_releases_and_epic_deps.sql
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/releases.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/epic.yaml
  orchestrator/openapi/schemas/release.yaml
  orchestrator/src/routes/epics.routes.ts
  orchestrator/src/routes/index.ts
  orchestrator/src/routes/releases.routes.ts
  orchestrator/src/services/epic.service.ts
  orchestrator/src/services/release.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: query correct column prd_file_path instead of prd_content
  orchestrator/src/services/context.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: hide xterm cursor in terminal component
  frontend/src/components/Terminal.tsx
Due: prettier --write

feat(task-50): Epic status is doesn’t reflect what the actual status is
  CLAUDE.md
  orchestrator/src/services/epic.service.ts
  orchestrator/src/services/git-workflow.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: revert CLAUDE.md and add PR link improvements
  CLAUDE.md
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

style: fix prettier formatting in epic.service.ts
  orchestrator/src/services/epic.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Start Agent fails with 'no such column: prd_content' (#57)
  frontend/src/components/Terminal.tsx
  orchestrator/src/services/context.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat(task-50): Epic status is doesn’t reflect what the actual status is (#58)
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/services/epic.service.ts
  orchestrator/src/services/git-workflow.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: improve UI
  frontend/src/components/Terminal.tsx
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/index.css
Due: prettier --write

fix: improve UI (#59)
  frontend/src/components/Terminal.tsx
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/terminal/TerminalPanel.tsx
  frontend/src/index.css
Due: prettier --write

docs: update agent management design
  docs/design/ai_mock.html
  docs/design/mock.html
  docs/research/agent-assignment-design.md
  frontend/src/components/epics/EpicEditModal.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/EpicDetailPage.tsx
Due: prettier --write

UI.improvment (#60)
  docs/design/ai_mock.html
  docs/design/mock.html
  docs/research/agent-assignment-design.md
  frontend/src/components/epics/EpicEditModal.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/EpicDetailPage.tsx
Due: prettier --write

feat: Epic #14 - Agent Assignment & Management
  docs/research/agent-assignment-design.md
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/src/components/settings/AgentSettings.tsx
  frontend/src/components/settings/McpServerSettings.tsx
  frontend/src/components/settings/SkillSettings.tsx
  frontend/src/components/tasks/AgentSelector.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/components/ui/TaskCreateModal.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/migrations/010_agents.sql
  orchestrator/migrations/011_skills_and_mcp.sql
  orchestrator/migrations/012_task_agent_assignment.sql
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/agents.yaml
  orchestrator/openapi/paths/mcp-servers.yaml
  orchestrator/openapi/paths/skills.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/agent.yaml
  orchestrator/openapi/schemas/mcp-server.yaml
  orchestrator/openapi/schemas/skill.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/routes/agents.routes.ts
  orchestrator/src/routes/index.ts
  orchestrator/src/routes/mcp-servers.routes.ts
  orchestrator/src/routes/skills.routes.ts
  orchestrator/src/services/agent-config.service.ts
  orchestrator/src/services/mcp-server.service.ts
  orchestrator/src/services/skill.service.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add filesystem sync for agents and MCP servers
  frontend/src/components/settings/AgentSettings.tsx
  frontend/src/components/settings/McpServerSettings.tsx
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/agents.yaml
  orchestrator/openapi/paths/mcp-servers.yaml
  orchestrator/openapi/schemas/common.yaml
  orchestrator/src/routes/agents.routes.ts
  orchestrator/src/routes/mcp-servers.routes.ts
  orchestrator/src/services/agent-config.service.ts
  orchestrator/src/services/mcp-server.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: group settings tabs into Project and Claude Code sections
  frontend/src/pages/SettingsPage.tsx
Due: prettier --write

feat: Epic #14 - Agent Assignment & Management (#61)
  docs/research/agent-assignment-design.md
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/src/components/settings/AgentSettings.tsx
  frontend/src/components/settings/McpServerSettings.tsx
  frontend/src/components/settings/SkillSettings.tsx
  frontend/src/components/tasks/AgentSelector.tsx
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/tasks/index.ts
  frontend/src/components/ui/TaskCreateModal.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/migrations/010_agents.sql
  orchestrator/migrations/011_skills_and_mcp.sql
  orchestrator/migrations/012_task_agent_assignment.sql
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/agents.yaml
  orchestrator/openapi/paths/mcp-servers.yaml
  orchestrator/openapi/paths/skills.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/agent.yaml
  orchestrator/openapi/schemas/common.yaml
  orchestrator/openapi/schemas/mcp-server.yaml
  orchestrator/openapi/schemas/skill.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/context.service.test.ts
  orchestrator/src/routes/agents.routes.ts
  orchestrator/src/routes/index.ts
  orchestrator/src/routes/mcp-servers.routes.ts
  orchestrator/src/routes/skills.routes.ts
  orchestrator/src/services/agent-config.service.ts
  orchestrator/src/services/mcp-server.service.ts
  orchestrator/src/services/skill.service.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

docs: add unified task state design research
  docs/research/unified-task-state-design.md
Due: none

docs: add file size management to unified task state design
  docs/research/unified-task-state-design.md
Due: none

docs: restructure unified task state design for clarity
  docs/research/unified-task-state-design.md
Due: none

docs: simplify unified task state design
  docs/research/unified-task-state-design.md
Due: none

docs: separate task definition from runtime state
  docs/research/unified-task-state-design.md
Due: none

docs: clarify Epic vs Task acceptance criteria hierarchy
  docs/research/unified-task-state-design.md
Due: none

docs: add CRUD endpoints for acceptance criteria
  docs/research/unified-task-state-design.md
Due: none

Path conditions:
  prettier --write: (any of: orchestrator/src/**/*.ts) or (any of: frontend/src/**/*.{ts,tsx})
  npm run lint:fix --workspace=orchestrator --: any of: orchestrator/src/**/*.ts
