Repository cliangdev/specflux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --workspace=orchestrator --

docs: improve UI style guide enforcement
  .claude/skills/ui-patterns/SKILL.md
  CLAUDE.md
  docs/UI_STYLE_GUIDE.md
Due: none

chore: remove duplicate UI style guide
  CLAUDE.md
  docs/UI_STYLE_GUIDE.md
Due: none

feat: Add terminal parsing, file tracking, and GitHub PR integration (Week 4)
  docs/research/specflux-development-roadmap.md
  frontend/src/api/index.ts
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/file-tracking.service.test.ts
  orchestrator/src/__tests__/github.service.test.ts
  orchestrator/src/__tests__/terminal-parser.service.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/services/file-tracking.service.ts
  orchestrator/src/services/git-workflow.service.ts
  orchestrator/src/services/github.service.ts
  orchestrator/src/services/terminal-parser.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Add Claude Code tool patterns and realtime file change updates
  frontend/src/components/Terminal.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/__tests__/terminal-parser.service.test.ts
  orchestrator/src/services/terminal-parser.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Switch file tracking from terminal parsing to git-based detection
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/git-workflow.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Add polling for file changes in TaskDetailPage
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Poll file changes even when agent is idle
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Move file changes polling after isAgentRunning declaration
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Use disk-based worktree discovery for file change tracking
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/worktree.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Fix git status parsing and remove loading flicker
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/services/git-workflow.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Change agent status label from "Running" to "Active"
  docs/testing/week4-manual-tests.md
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

perf: Memoize Terminal component to prevent re-renders during polling
  docs/testing/week4-manual-tests.md
  frontend/src/components/Terminal.tsx
Due: prettier --write

revert: Remove Terminal memo that caused black screen
  frontend/src/components/Terminal.tsx
Due: prettier --write

fix: Only poll file changes when agent is active
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Memoize Terminal callbacks to prevent re-renders
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

refactor: Extract FileChanges into isolated component
  frontend/src/components/FileChanges.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Reduce file changes polling to 30 seconds to prevent terminal lag
  frontend/src/components/FileChanges.tsx
Due: prettier --write

fix: Hide xterm.js cursor since Claude Code shows its own
  frontend/src/components/Terminal.tsx
Due: prettier --write

docs: Add known issues to Week 4 roadmap section
  docs/research/specflux-development-roadmap.md
Due: none

feat: Remove progress bar from task detail page
  docs/research/specflux-development-roadmap.md
  docs/testing/week4-manual-tests.md
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Move File Changes below Agent Controls, remove duplicate
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Make button sizes consistent in task detail page
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

feat(task-12): file change test
  CLAUDE.md
  hello.txt
Due: none

feat(task-13): test commit
  CLAUDE.md
  test.txt
Due: none

feat(task-14): test create PR
  CLAUDE.md
  hello.txt
Due: none

feat(task-14): test create PR
  CLAUDE.md
Due: none

feat: Add terminal parsing, file tracking, and GitHub PR integration (Week 4) (#30)
  docs/research/specflux-development-roadmap.md
  docs/testing/week4-manual-tests.md
  frontend/src/api/index.ts
  frontend/src/components/FileChanges.tsx
  frontend/src/components/Terminal.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/file-tracking.service.test.ts
  orchestrator/src/__tests__/github.service.test.ts
  orchestrator/src/__tests__/terminal-parser.service.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
  orchestrator/src/services/file-tracking.service.ts
  orchestrator/src/services/git-workflow.service.ts
  orchestrator/src/services/github.service.ts
  orchestrator/src/services/terminal-parser.service.ts
  orchestrator/src/services/worktree.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: UI polish and workflow improvements for Week 4 features
  docs/testing/week4-manual-tests.md
  frontend/src/components/FileChanges.tsx
  frontend/src/components/Terminal.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.tsx
  frontend/src/index.css
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/pages/TasksPage.tsx
  orchestrator/src/__tests__/agent.routes.test.ts
  orchestrator/src/__tests__/worktree.service.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/git-workflow.service.ts
  orchestrator/src/services/github.service.ts
  orchestrator/src/services/worktree.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: UI polish and workflow improvements for Week 4 features (#34)
  docs/testing/week4-manual-tests.md
  frontend/src/components/FileChanges.tsx
  frontend/src/components/Terminal.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.tsx
  frontend/src/index.css
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/pages/TasksPage.tsx
  orchestrator/src/__tests__/agent.routes.test.ts
  orchestrator/src/__tests__/worktree.service.test.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/git-workflow.service.ts
  orchestrator/src/services/github.service.ts
  orchestrator/src/services/worktree.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat(task-21): Test terminal
  CLAUDE.md
  hello-world.txt
  random-word.txt
Due: none

fix: Improve terminal display and pass dimensions from frontend
  docs/research/specflux-development-roadmap.md
  docs/testing/week4-manual-tests.md
  frontend/src/components/Terminal.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/src/routes/agent.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Improve terminal display and pass dimensions from frontend (#36)
  docs/research/specflux-development-roadmap.md
  docs/testing/week4-manual-tests.md
  frontend/src/components/Terminal.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/src/routes/agent.routes.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/websocket/terminal.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Optimize terminal with WebGL renderer and flow control
  docs/research/terminal-integration-research.md
  frontend/package.json
  frontend/src/components/Terminal.tsx
  frontend/src/components/__tests__/Terminal.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/services/agent.service.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Optimize terminal with WebGL renderer and flow control (#37)
  docs/research/terminal-integration-research.md
  frontend/package.json
  frontend/src/components/Terminal.tsx
  frontend/src/components/__tests__/Terminal.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/services/agent.service.ts
  package-lock.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Kanban board with drag-and-drop support
  frontend/package.json
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/kanban/KanbanColumn.tsx
  frontend/src/components/kanban/TaskCard.tsx
  frontend/src/components/kanban/__tests__/KanbanBoard.test.tsx
  frontend/src/components/kanban/__tests__/TaskCard.test.tsx
  frontend/src/components/kanban/index.ts
  frontend/src/components/kanban/types.ts
  frontend/src/pages/BoardPage.tsx
  package-lock.json
Due: prettier --write

docs: Add manual testing checklist for Kanban board
  docs/testing/kanban-board-manual-testing.md
Due: none

fix: Truncate long task titles in Kanban cards
  frontend/src/components/kanban/TaskCard.tsx
Due: prettier --write

feat: Add hover tooltips for truncated title and description
  frontend/src/components/kanban/TaskCard.tsx
Due: prettier --write

refactor: Rename "Sprint Board" to "Board"
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/kanban/__tests__/KanbanBoard.test.tsx
Due: prettier --write

Path conditions:
  prettier --write: (any of: orchestrator/src/**/*.ts) or (any of: frontend/src/**/*.{ts,tsx})
  npm run lint:fix --workspace=orchestrator --: any of: orchestrator/src/**/*.ts
