Repository cliangdev/specflux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Epic 16 - Unified Task State System
  .gitignore
  .specflux/archives/.gitkeep
  .specflux/task-states/.gitkeep
  docs/design/prd-epic-roadmap-redesign.md
  frontend/src/components/tasks/TaskOverviewTab.tsx
  frontend/src/components/ui/AcceptanceCriteriaList.tsx
  frontend/src/utils/readiness.ts
  orchestrator/migrations/013_acceptance_criteria.sql
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/epics.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/routes/epics.routes.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/acceptance-criteria.service.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/filesystem.service.ts
  orchestrator/src/services/session-protocol.service.ts
  orchestrator/src/services/task-state.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

chore: add TypeScript type checking to pre-push hook
  .husky/pre-push
  frontend/package.json
  package.json
Due: none

fix: remove undefined scope_in/scope_out from session protocol
  orchestrator/src/services/session-protocol.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: add acceptance criteria UI to Epic Detail Page
  frontend/src/pages/EpicDetailPage.tsx
Due: prettier --write

feat: Epic 16 - Unified Task State System (#62)
  .gitignore
  .husky/pre-push
  .specflux/archives/.gitkeep
  .specflux/task-states/.gitkeep
  docs/design/prd-epic-roadmap-redesign.md
  docs/research/unified-task-state-design.md
  frontend/package.json
  frontend/src/components/tasks/TaskOverviewTab.tsx
  frontend/src/components/ui/AcceptanceCriteriaList.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/utils/readiness.ts
  orchestrator/migrations/013_acceptance_criteria.sql
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/epics.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/_index.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/routes/epics.routes.ts
  orchestrator/src/routes/tasks.routes.ts
  orchestrator/src/services/acceptance-criteria.service.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/filesystem.service.ts
  orchestrator/src/services/session-protocol.service.ts
  orchestrator/src/services/task-state.service.ts
  package.json
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Epic #17 - Dependency Graph View for Roadmap
  frontend/package.json
  frontend/src/components/roadmap/EpicDetailPopup.tsx
  frontend/src/components/roadmap/EpicGraph.tsx
  frontend/src/components/roadmap/EpicNode.tsx
  frontend/src/components/roadmap/GraphToolbar.tsx
  frontend/src/components/roadmap/__tests__/transformEpicsToGraph.test.ts
  frontend/src/components/roadmap/index.ts
  frontend/src/components/roadmap/transformEpicsToGraph.ts
  frontend/src/components/roadmap/useGraphLayout.ts
  frontend/src/pages/EpicsPage.tsx
  package-lock.json
Due: prettier --write

feat: Epic #15 - Context Injection for Claude Code
  frontend/src/components/terminal/TerminalTabBar.tsx
  frontend/src/contexts/TerminalContext.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/src/__tests__/agent.service.test.ts
  orchestrator/src/services/agent.service.ts
  orchestrator/src/services/context.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Display task state file in Context tab (Task #5)
  frontend/src/components/tasks/TaskContextTab.tsx
  orchestrator/openapi/index.yaml
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/routes/tasks.routes.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Return depends_on as parsed array in epic API response
  orchestrator/src/services/epic.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

test: add unit tests for task state service chain injection
  orchestrator/src/__tests__/services/task-state.service.test.ts
  orchestrator/src/services/epic.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: Show actual API error messages and require acceptance criteria for tasks
  frontend/src/api/index.ts
  frontend/src/components/ui/TaskCreateModal.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/tasks.routes.test.ts
  orchestrator/src/routes/tasks.routes.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Add Agent detail page with Overview and Definition tabs
  frontend/src/components/agents/AgentDefinitionTab.tsx
  frontend/src/components/agents/index.ts
  frontend/src/components/settings/AgentSettings.tsx
  frontend/src/pages/AgentDetailPage.tsx
Due: prettier --write

fix: Polish Agent detail page UI
  .claude/agents/backend-dev.md
  frontend/src-tauri/capabilities/default.json
  frontend/src-tauri/gen/schemas/capabilities.json
  frontend/src/App.tsx
  frontend/src/components/agents/AgentDefinitionTab.tsx
  frontend/src/components/settings/AgentSettings.tsx
  frontend/src/pages/AgentDetailPage.tsx
  frontend/src/pages/index.ts
Due: prettier --write

refactor: Unify settings pages with consistent card UI
  frontend/src/components/settings/AgentSettings.tsx
  frontend/src/components/settings/McpServerSettings.tsx
  frontend/src/components/settings/SkillSettings.tsx
Due: prettier --write

fix: Make Epic graph view fill available vertical space
  frontend/src/components/roadmap/EpicGraph.tsx
  frontend/src/pages/EpicsPage.tsx
Due: prettier --write

feat: Add collapsible and resizable sidebar with localStorage persistence
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  orchestrator/src/services/task-state.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: Clean up Epic and Task details UI
  frontend/src/components/tasks/TaskDetailHeader.tsx
  frontend/src/components/tasks/TaskOverviewTab.tsx
  frontend/src/components/ui/TaskEditModal.tsx
  frontend/src/pages/EpicDetailPage.test.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
Due: prettier --write

fix: Preserve terminal scroll position when new output arrives
  frontend/src/components/Terminal.tsx
  frontend/src/components/__tests__/Terminal.test.tsx
Due: prettier --write

refactor: remove pause/resume from agent controls
  frontend/src/components/kanban/TaskCard.tsx
  frontend/src/components/kanban/__tests__/TaskCard.test.tsx
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.tsx
  frontend/src/pages/TaskDetailPage.test.tsx
  frontend/src/pages/TaskDetailPage.tsx
  orchestrator/openapi/paths/tasks.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/routes/agent.routes.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

refactor: remove unused acceptanceCriteria from task creation
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.tsx
Due: prettier --write

feat: require acceptance criteria when creating tasks
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.tsx
Due: prettier --write

feat: use list-based acceptance criteria in task creation
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.tsx
Due: prettier --write

feat: API accepts list-based acceptance criteria
  frontend/src/components/ui/TaskCreateModal.test.tsx
  frontend/src/components/ui/TaskCreateModal.tsx
  orchestrator/openapi/schemas/epic.yaml
  orchestrator/openapi/schemas/task.yaml
  orchestrator/src/__tests__/tasks.routes.test.ts
  orchestrator/src/routes/epics.routes.ts
  orchestrator/src/routes/tasks.routes.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

refactor: consistent detail headers with inline editing
  frontend/src/components/epics/EpicCreateModal.tsx
  frontend/src/components/epics/EpicDetailHeader.tsx
  frontend/src/components/epics/index.ts
  frontend/src/components/tasks/TaskOverviewTab.tsx
  frontend/src/pages/EpicDetailPage.tsx
  frontend/src/pages/TaskDetailPage.tsx
  frontend/src/pages/TasksPage.tsx
  orchestrator/src/services/epic.service.ts
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

test: add tests for cascade delete and epic CRUD routes
  orchestrator/src/__tests__/epics.routes.test.ts
  orchestrator/src/__tests__/tasks.routes.test.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

fix: make board page task button consistent with other pages
  frontend/src/components/kanban/KanbanBoard.tsx
  frontend/src/components/kanban/__tests__/KanbanBoard.test.tsx
Due: prettier --write

feat: add Edit button to EpicDetailPage header
  frontend/src/components/epics/EpicDetailHeader.tsx
  frontend/src/pages/EpicDetailPage.tsx
Due: prettier --write

fix: persist Epics page filters using URL params
  frontend/src/pages/EpicsPage.tsx
Due: prettier --write

feat: add inline editing for release metadata on Roadmap page
  frontend/src/pages/RoadmapPage.tsx
Due: prettier --write

refactor: convert Epic detail page to full inline editing
  frontend/src/components/epics/EpicDetailHeader.tsx
  frontend/src/pages/EpicDetailPage.tsx
Due: prettier --write

fix: improve phase status calculation to consider task progress
  orchestrator/src/services/release.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

feat: auto-update epic status based on task completion
  orchestrator/src/services/task.service.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

style: align phase status colors with task/epic status patterns
  frontend/src/components/roadmap/PhaseSection.tsx
Due: prettier --write

fix: persist page filters to localStorage
  frontend/src/pages/EpicsPage.tsx
  frontend/src/pages/TasksPage.tsx
Due: prettier --write

feat: add "All Releases" view to roadmap page
  frontend/src/pages/RoadmapPage.tsx
Due: prettier --write

fix: re-fit epic graph view when filters change
  frontend/src/components/roadmap/EpicGraph.tsx
Due: prettier --write

fix: force epic graph remount when filters change
  frontend/src/pages/EpicsPage.tsx
Due: prettier --write

fix: persist roadmap page filters to localStorage
  frontend/src/pages/RoadmapPage.tsx
Due: prettier --write

test: add epic auto-status update tests
  orchestrator/src/__tests__/services/epic-status.service.test.ts
Due: prettier --write, npm run lint:fix --workspace=orchestrator --

docs: add MCP and backend migration PRD
  docs/research/specflux-mcp-server-prd.md
Due: none

Path conditions:
  prettier --write: (any of: orchestrator/src/**/*.ts) or (any of: frontend/src/**/*.{ts,tsx})
  npm run lint:fix --workspace=orchestrator --: any of: orchestrator/src/**/*.ts
